{% extends "blog/base.html" %}

 인증 관련 부분 다음 링크 참고해서 구현하였음.
 http://blog.narenarya.in/right-way-django-authentication.html
{% block content %}
    {% if form.errors %}
        <p style="color:red">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="form-signin" form method="post" action="{% url 'login' %}">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td style="padding-left:10px">{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td style="padding-left:10px">{{ form.password }}</td>
            </tr>
        </table>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
    </form>
{% endblock %}
